.footer {
    background-color: #f8f9fa;
    padding: 1rem;
  
    &__contacts {
      display: flex;
      justify-content: space-between;
  
      &--address,
      &--phoneEmail {
        flex: 1;
      }
    }
  
    &__nav-list {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
}