header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;  
    .logo {
      max-width: 18rem;
    }
    .nav-list {
      display: flex;
      gap: 1rem;
    }
}