<footer class="flex flex-col place-items-center p-4 bg-slate-50">
    <section class="footer-section">
        <div class="mr-4">
            <h2 class="font-bold text-xl py-2">Our Address</h2>
            <ol class="list-none p-0">
                <li>Calle Callejero 22, 1-1</li>
                <li>08025, Barcelona, España</li>
            </ol>
        </div>
        <div>
            <h2 class="font-bold text-xl py-2">Phone or Email Us</h2>
            <ol class="list-none p-0">
                <li>+34 666555888</li>
                <li>momomakers@gmail.com</li>
            </ol>
        </div>
    </section>
    <section
      class="grid grid-cols-1 md:grid-cols-footer-3col place-items-center py-6">
        <div class="logo">
            <img src="./assets/images/logo.png" alt="Logo">
        </div>
        <nav class="py-4">
            <ul class="flex space-between gap-8 text-lg font-bold">
                <li><a href="_blank" class="text-blue-500 hover:underline">Page
                        Two</a></li>
                <li><a href="_blank" class="text-blue-500 hover:underline">Page
                        Three</a></li>
                <li><a href="_blank" class="text-blue-500 hover:underline">Page
                        Four</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="flex justify-end gap-4 text-lg font-bold">
                <li><a href="https://facebook.com"
                      class="text-blue-500 hover:underline">Facebook</a></li>
                <li><a href="https://twitter.com"
                      class="text-blue-500 hover:underline">Twitter</a></li>
                <li><a href="https://instagram.com"
                      class="text-blue-500 hover:underline">Instagram</a></li>
            </ul>
        </nav>
    </section>
</footer>
