<header class="flex justify-between items-center px-6 py-4">
    <div class="logo">
        <img src="./assets/images/logo.png" alt="Logo">
    </div>
    <nav class="py-4">
        <ul class="flex gap-4 text-xl font-semibold">
            <li><a href="_blank" class="text-blue-500 hover:underline">Page
                    Two</a></li>
            <li><a href="_blank" class="text-blue-500 hover:underline">Page
                    Three</a></li>
            <li><a href="_blank" class="text-blue-500 hover:underline">Page
                    Four</a></li>
        </ul>
    </nav>
</header>
