<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css"
          href="../assets/styles/layouts/_page2.scss">
        <title>Participantes del Concurso</title>
    </head>
    <body class="m-0">
        <main class="flex flex-col chef">
            <h1
              class="my-4 mx-auto font-sans text-2xl font-medium text-gray-800">
                Best chefs</h1>
            <section id="chef-container"
              class="flex flex-wrap gap-8 justify-evenly mt-8 px-24 py-4">
                <div class="chef__item">
                    <div class="chef__image w-80 h-60">
                        <img src="../assets/images/chef1.jpeg" alt="Chef 1"
                          class="w-full h-full object-cover">
                    </div>
                    <div
                      class="chef__description w-80 mt-3 text-center font-sans text-gray-800">
                        <h4 class="my-1 text-lg">Chef One</h4>
                        <p class="my-1 text-sm">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed baskia doeis</p>
                    </div>
                </div>

                <div class="chef__item">
                    <div class="chef__image w-80 h-60">
                        <img src="../assets/images/chef2.jpeg" alt="Chef 1"
                          class="w-full h-full object-cover">
                    </div>
                    <div
                      class="chef__description w-80 mt-3 text-center font-sans text-gray-800">
                        <h4 class="my-1 text-lg">Chef Two</h4>
                        <p class="my-1 text-sm">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed baskia doeis</p>
                    </div>
                </div>

                <div class="chef__item">
                    <div class="chef__image w-80 h-60">
                        <img src="../assets/images/chef3.jpeg" alt="Chef 1"
                          class="w-full h-full object-cover">
                    </div>
                    <div
                      class="chef__description w-80 mt-3 text-center font-sans text-gray-800">
                        <h4 class="my-1 text-lg">Chef Three</h4>
                        <p class="my-1 text-sm">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed baskia doeis</p>
                    </div>
                </div>

                <div class="chef__item">
                    <div class="chef__image w-80 h-60">
                        <img src="../assets/images/chef4.jpeg" alt="Chef 1"
                          class="w-full h-full object-cover">
                    </div>
                    <div
                      class="chef__description w-80 mt-3 text-center font-sans text-gray-800">
                        <h4 class="my-1 text-lg">Chef Four</h4>
                        <p class="my-1 text-sm">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed baskia doeis</p>
                    </div>
                </div>

                <div class="chef__item">
                    <div class="chef__image w-80 h-60">
                        <img src="../assets/images/chef5.jpeg" alt="Chef 1"
                          class="w-full h-full object-cover">
                    </div>
                    <div
                      class="chef__description w-80 mt-3 text-center font-sans text-gray-800">
                        <h4 class="my-1 text-lg">Chef Five</h4>
                        <p class="my-1 text-sm">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed baskia doeis</p>
                    </div>
                </div>

                <div class="chef__item">
                    <div class="chef__image w-80 h-60">
                        <img src="../assets/images/chef6.jpeg" alt="Chef 1"
                          class="w-full h-full object-cover">
                    </div>
                    <div
                      class="chef__description w-80 mt-3 text-center font-sans text-gray-800">
                        <h4 class="my-1 text-lg">Chef Six</h4>
                        <p class="my-1 text-sm">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed baskia doeis</p>
                    </div>
                </div>

            </section>
        </main>

    </body>
</html>
